<div>
  <div>
    <div  class="status" [ngStyle]="{'background-color': detail.checkInDate ? 'green' : 'red'}"></div>
    <div *ngIf="editing">
      <input
        type="text"
        [value]="detail.fullName"
        (input)="onNameChange(name.value)"
        #name>
    </div>
    <div *ngIf="!editing">{{detail.fullName}}</div>
  </div>
  <div>Check in date : {{detail.checkInDate ? (detail.checkInDate | date: 'dd/mm/yy') : 'Not checked in'}}</div>
  <button (click)="toggleEdit()">{{ editing ? 'Done' : 'Edit'}}</button>
  <button (click)="onRemove()">Remove</button>

</div>
