<form #formUser="ngForm" novalidate>
  {{detail | json}}
  <div>
    Passenger name:
    <input
      type="text"
      name="fullName"
      #fullName="ngModel"
      required
      [ngModel]="detail?.fullName">
    <div *ngIf="fullName?.errors?.required && fullName.dirty" class="error">
      Passenger Name is Required
    </div>
  </div>

  <div>
    Passenger id:
    <input
      type="number"
      name="id"
      required
      #id="ngModel"
      [ngModel]="detail?.id">
    <div *ngIf="id?.errors?.required && id.dirty" class="error">
      Passenger Id is Required
    </div>
  </div>

  <div>
    <label>
      <input
        type="checkbox"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)">
    </label>
  </div>

  <div *ngIf="formUser?.value?.checkedIn">
    Check in date:
    <input
      type="number"
      name="checkedInDate"
      [ngModel]="detail.checkInDate">
  </div>

  <div>
    Luggage:
    <select
      name="baggage"
      [ngModel]="detail?.baggage">
      <option
        *ngFor="let item of baggage"
        [ngValue]="item.key">
        {{ item.value }}
      </option>
    </select>
  </div>
  <div>
    {{ formUser.value | json}}
  </div>
  <div>
    Valid:{{ formUser.valid | json }}
  </div>
  <div>
    Invalid:{{ formUser.invalid| json}}
  </div>
</form>
